<div id="<%= dom_id checkout %>">
  <p>
    <strong>Customer request:</strong>
    <%= checkout.customer_request_id %>
  </p>

  <p>
    <strong>Grant:</strong>
    <%= checkout.grant_id %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= checkout.total %>
  </p>

</div>
